/* Style du menu */
.menu {
  /* disposition des liens à l’horizontal */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  /* ajout d’une bordure décorative */
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
}
/* ancres du menu */
.menu > a {
  display: inline-flex;
  padding: .5rem 0;
  text-decoration: none;
}
.menu > a:hover {
  text-decoration: underline;
}
.menu > a.courante {
  text-decoration: underline;
}


/*
Restitution de certains styles généraux...
*/

/* En-tête principal */
#title-block-header {
  margin: 3rem auto;
}

/* Corps */
body {
  max-width: 44em;
  margin: 1rem auto;
  padding: 3rem 1rem;
}
