/* Couleur de fond  et couleur de police pour l’ensemble du document */
html {
  background-color: whitesmoke;
  color: midnightblue;
  line-height: 140%;
}

/* Largeur maximale du corps */
body {
  max-width: 40rem;
}

/* Style des en-têtes */
h1, h2, h3 {
  color: deeppink;
  font-family: sans-serif;
}
