/* Disposition générale */
main {
  width: 96%;
  max-width: 80rem;
  margin: 1rem auto;
  padding: 0 1rem;

  display: grid;
  gap: 1rem;
}

/* À partir d’une certaine largeur... */
@media (min-width: 48rem) {
  main {
    gap: 2rem;
    grid-template-columns: [contenu-secondaire] 12rem [contenu-principal] 1fr;
  }
  main .disposition-secondaire {
    grid-column-start: contenu-secondaire;
  }
  main .contenu-principal {
    grid-column-start: contenu-principal;
    max-width: 50em;
  }
}

.en-tete {
  margin-bottom: 2rem;
}
