/* Ours */
.ours {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 1rem;

  border-bottom: 1px solid var(--couleur-bordure);
}
/* Ours avec un fond (ajouter cette classe) */
.ours.avec-fond {
  background-color: var(--fond-ours);
  color: var(--couleur-ours);

  border-bottom: none;
}

.ancre-principale {
  display: inline-flex;
  padding: 1rem 0;
  font-weight: bold;
}

/* Style sur tous les liens de l’ours */
.ours a {
  color: inherit;
  text-decoration: none;
}
.ours a:hover {
  text-decoration: underline;
}

/* Disposition du menu principal */
.menu-principal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

/* Liens du menu principal */
.menu-principal a {
  display: inline-flex;
  padding: 1.25rem 0;
}
