/* Barre latérale */

.barre-laterale {
  font-size: .75rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 48rem) {
  .barre-laterale {
    display: block;
  }
}


.barre-laterale__avatar {
  --largeur-avatar: 4rem;
  --avatar-largeur-bordure: 0;
  --couleur-bordure-avatar: #fff;

  max-width: var(--largeur-avatar);
  align-self: flex-start;
  margin-block-end: 1rem;

  /* Ratio 1:1 pour un carré (ou cercle) parfait */
  aspect-ratio: 1;
  /* 50% pour un cercle */
  border-radius: 50%;
  overflow: hidden;
  /* `outline` pour produire une bordure externe */
  outline: var(--avatar-largeur-bordure) solid var(--couleur-bordure-avatar);
}
@media (min-width: 48rem) {
  .barre-laterale__avatar {
    --avatar-largeur-bordure: 6px;
    --largeur-avatar: auto;
  }
}

.barre-laterale__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.barre-laterale__nom {
  margin-top: .5rem;

  font-weight: bold;
  font-size: 1rem;
}

.barre-laterale__bio {
  margin-top: .25rem;

  color: var(--texte-efface);
}
.barre-laterale__bio > p {
  /* Les <p> créent beaucoup d’espace -- réduisons */
  margin: .25rem 0;
}

.barre-laterale__liens {
  margin-top: .5rem;

  display: flex;
  flex-direction: row;
  gap: .25rem;
}
@media (min-width: 48rem) {
  .barre-laterale__liens {
    flex-direction: column;
  }
}

.barre-laterale__liens a {
  display: inline-flex;
  padding: .15rem 0;
}
